/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

body {
    background-size: cover;
    background-position: center;
}

#character-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.character {
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    max-height: 90vh;
    transition: all 0.3s ease;
}

#dialogue-container {
    position: absolute;
    flex-direction: row;
    bottom: 0;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 30%;
    align-items: center;
    z-index: 2;
}

#character-name {
    width: 15%;
    height: 13%;
    background-color: plum;
    border-style: solid;
    color: white;
    border-top-left-radius:  15px;
    border-top-right-radius:  15px;
    margin-left: 5%;
}

#character-name p{
    font-size: 150%;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 1%;
    margin-bottom: 1%;
}

#dialogue-box {
    position: relative;
    width: 100%;
    height: 70%;
    color: white;
    background-color: rgb(231, 145, 231);
    border-width: 5px;
    border-style: solid;
    background-size: cover;
    background-position: center;
    word-wrap: break-word;
    font-size: 30px;
    border-radius: 15px;
    margin-bottom: 1%;
    padding-left: 1%;
}

#dialogue-inner-container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
}

.character-position {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    z-index: 1;
}

#left-character {
    left: 0;
}

#center-character {
    left: 33.5%;
}

#right-character {
    right: 0;
}

.character-image {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}

#user-input {
    height: 130px;
    width: 100%;
    resize: none;
    padding: 8px;
    vertical-align: top;
    text-align: left;
    white-space: normal;
    background-color: rgb(231, 145, 231);
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    color: white;
    font-weight: bold;
}

#user-input::placeholder {
    color: white;
    content: "Enter your text here...";
}

#send-button {
    width: 100%;
}